ACTION=="add", \
    SUBSYSTEM=="hidraw", \
    ENV{ID_FIDO_TOKEN}=="1", \
    ENV{ID_VENDOR_FROM_DATABASE}=="Yubico.com", \
    TAG+="systemd", \
    PROGRAM="/usr/bin/env systemd-escape -p --template yubigen-ssh@.service %E{DEVNAME}", \
    ENV{SYSTEMD_USER_WANTS}+="%c"

# vi: ft=udevrules
